/*
 * Graph Chat
 *
 * Nonlinear online discussions
 *
 * Sean Hickey
 * MIT Media Lab, Lifelong Kindergarten Group
 * 13 Mar 2018
 *
 */
 
$app-font: 'Lato', sans-serif;
$app-title-font: 'Roboto Condensed', sans-serif;
 
/* Initial Design Colors */
// $node-color: #f5f1f0;
// $canvas-color: #fff;
// $info-bg-color: #686766;
// $info-text-color: #e8e4e3;
 
/* "Das Boot" Color Scheme */
// $node-color: #F2EDE4;
// $canvas-color: lighten($node-color, 7%);
// $info-bg-color: #2F3540;
// $info-text-color: $node-color;

// $node-color: lighten(#F2EDE4, 1%);
// $canvas-color: darken(#666A73, 10%);
// $info-bg-color: darken(#2F3540, 10%);
// $info-text-color: #D9D1C7;
// $node-selected-color: #EBCB00;

/* "Early Morning" */
$node-color: #FFF8E4;
$canvas-color: #3A4554;
$info-bg-color: #222028;
$info-text-color: $node-color;
$node-selected-color: #C9EBB5;

$convo-element-color: lighten($info-bg-color, 10%);

/* "Mountain" Color Scheme */
// $node-color: #F1EBE1;
// $canvas-color: lighten($node-color, 7%);
// $info-bg-color: #3C4458;
// $info-text-color: $node-color;

*, *:before, *:after {
  box-sizing: border-box;
}

body { 
  margin:0;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  font-family: $app-font;
}

hr {
  width: 95%;
  border-color: #777;
}

/* Overall Layout */

.col-left {
  float: left;
  width: 70%;
  height: 100vh;
}

.col-right {
  float: left;
  width: 30%;
  height: 100vh;
}

.graph-container {
  overflow: hidden;
  background-color: $canvas-color;
  position: relative;
  width: 100%;
  height: 100vh;
}

.nodes-container {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.links-container {
  position: absolute;
}

.node {
  position: absolute;
  border-radius: 25px;
  width: 50px;
  min-height: 50px;
  background-color: #333;
  border: 1px solid black;
  color: #ccc;
}

.root-node {
  border-radius: 10px;
  width: 300px;
  min-height: 100px;
}

.node-avatar {
  vertical-align: middle;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  margin: 0 11px;
}

.node-title {
  font-size: 1.2em;
  padding: 6px 11px 0;
}

.node-content {
  padding: 6px 11px;
  font-size: .9em;
}

.node-footer {
  font-size: .8em;
  margin: 11px 0;
}

svg {

  .links {
    stroke: #999;
    stroke-width: 3;
  }

}

/* Right column */

.info {
  background-color: $info-bg-color;
  color: $info-text-color;
  padding: 0 18px;
}

.discuss-element {
  padding: 4px 11px 11px;
  margin: 11px 0;
  border-radius: 5px;
  background-color: $convo-element-color;
}

.discuss-element-header {
  margin: 6px 0;
  font-size: .8em;
  img {
    vertical-align: middle;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    margin: 0 11px 0 0;
  }
}

/* General Utilities */

.hidden {
  display: none;
}
